<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Admin</title>
</head>
<body>
    <h1 class="">Trình quản lí Admin</h1>
    <div style="position: absolute; right: 100px; top: 30px">
        <a href="/admin/logout" class="btn btn-danger">Đăng xuất</a>
    </div>
    <div class="d-flex flex-column">
        <a href="/admin/add-product">Thêm sản phẩm mới</a>
        <a href="/admin/products" class="mt-2">Quản lí sản phẩm</a>
    </div>
</body>
</html>