<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="w-50 mx-auto">
      <h1 class="text-center">Xin chào</h1>
      <div class="d-grid">
        <a href="/admin/login" class="btn btn-primary mt-3 ">Đăng nhập Admin</a>
      </div>
    </div>
  </body>
</html>
